.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppContent-link {
  color: #000000;
}

.AppContent {
  margin-top: 1em;
  width: 15em;
}

.AppTitle {
  text-decoration: none;
  color: white;
}

button {
  color: #000;
}

.ListItemRow {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  margin-bottom: .2rem;
}

.ListItemClickable {
  border: none;
  text-align: left;
  width: calc(100% - 2.7rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: .6rem;
}

.ListItemContent {
  margin-left: .7rem;
  font-weight: 600;
}

.ListItemCheckmark {
  text-align: right;
}

.ListItemDeleteButton {
  border: none;
  width: 2.5rem;
  background-color: #45484d;
  border-radius: .6rem;
}

.ListItemDeleteButton:hover {
  background-color: #ae3b1e;
  color: #000000;
}

.ItemAdder {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  height: 1.7rem;
}

.ItemAdderLeftSide {
  border: none;
  text-align: left;
  width: calc(100% - 6rem);
  border-radius: .3rem;
}

.ItemAdderRightSide {
  border: none;
  width: 5.5rem;
  border-radius: .3rem;
}

.CompletedTask {
  background-color: #2e982e;
  transition: background-color 0.2s;
}

.CompletedTask:hover {
  background-color: #44b844;
}

.NotCompletedTask {
  background-color: #a4a4a4;
  transition: background-color 0.2s;
}

.NotCompletedTask:hover {
  background-color: #bfbfbf;
}

.ClearLocalStorageButton {
  background: none;
  border: none;
  color: #40454d;
  cursor: pointer;
  text-decoration: underline;
  font-size: .4em;
  padding: 0;
  margin-top: 5em;
  outline: none;
  transition: color 0.2s;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.ClearLocalStorageButton:hover {
  color: #de6819;
}

h2 {
  margin-bottom: .5rem;
}

.ProgressOptionsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 1.3rem;
  margin-bottom: 2rem;
}

.ProgressOptionsBar {
  flex: 0 0 76%;
  height: 1.3rem;
}

.ProgressOptionsResetButton {
  flex: 0 0 12%;
  height: 1.3rem;
  margin-left: 2%;
  color: #000000;
  font-size: .5em;
  background-color: #45484d;
  outline: none;
  border: none;
  transition: color 0.2s;
  border-radius: 0.3125rem;
}

.ProgressOptionsResetButton:hover {
  background-color: #7f9d14;
}

.ProgressContainer {
  width: 100%;
  background-color: #45484d;
  height: 1.3rem;
  border-radius: 0.3125rem;  
  position: relative;
}

.ProgressBar {
  width: 0;
  height: 100%;
  background-color: #2e982e;
  border-radius: 0.3125rem;
  transition: width 0.3s ease-in-out;
  position: relative;
}

.ProgressLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-size: .5em;
  font-weight: 600;
}